{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href='run.py'>
<div class="container">
    <h2>Net Worth</h2>
    <style>
        .even-larger-badge{
            font-size: 2.0em;
        }
    </style>
    <span class="badge badge-info even-larger-badge">0</span>
    <br>
    <br>
    <h2>Asset Breakdown</h2>
        <h4>Total cash and investments:</h4>         
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Institution</th>
                <th>Amount</th>
                <th>Interest</th>
            </tr>
            </thead>

            <tbody>
            {% for asset in form_1 %}
            {% if asset %}
            <tr>
                <td>{{ asset.bank }}</td>
                <td>{{ asset.amount }}</td>
                <td>{{ asset.interest }}</td>
            </tr>
            {% else %}
            <tr><td></td></tr>
            {% endif %}
            {% endfor %}

            {% for asset in form_2 %}
            {% if asset %}
            <tr>
                <td>{{ asset.institution }}</td>
                <td>{{ asset.amount }}</td>
                <td>{{ asset.growth }}</td>
            </tr>
            {% else %}
            <tr><td></td></tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    <a href="{{ url_for('assets') }}">Can't see any assets? Add some over on the assets page!</a><br>
    <a href="{{ url_for('investments') }}">Can't see any investments? Add some over on the investments page!</a>
    <br>
    <br>
    <h2>Debt Breakdown</h2>
        <h4>Total debts:</h4>         
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Interest</th>
            </tr>
            </thead>
            <tbody>
                {% for asset in form_3 %}
                {% if asset %}
                <tr>
                    <td>{{ asset.debt_type }}</td>
                    <td>{{ asset.amount }}</td>
                    <td>{{ asset.interest }}</td>
                </tr>
                {% else %}
                <tr><td></td></tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    <a href="{{ url_for('debts') }}">Forgot to add some debts! Add them over on the debts page!</a>
    <br>
    <br>
</div>
{% endblock content %}