{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href='run.py'>
<div class="container">
    <h3>Net Worth:</h3>
    <style>
        .even-larger-badge{
            font-size: 2.0em;
        }
    </style>
    {% if net_worth > 0 %}
        <span class="badge badge-info even-larger-badge" style="background-color:MediumSeaGreen;">£{{ net_worth }}</span>
    {% elif net_worth < 0  %}
        <span class="badge badge-info even-larger-badge" style="background-color:Tomato;">£{{ net_worth }}</span>
    {% else %}
        <span class="badge badge-info even-larger-badge">£0</span>
    {% endif %}
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
    <h4>Asset Breakdown</h4>       
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Bank</th>
                <th>Amount</th>
                <th>Interest (%)</th>
            </tr>
            </thead>
            <tbody>
            {% for asset in form_1 %}
            {% if asset %}
            <tr>
                <td> <a href="{{ url_for('delete_asset', asset_id=asset.id) }}">{{ asset.bank }}</td>
                <td>£{{ asset.amount }}</td>
                <td>{{ asset.interest }}</td>
            </tr>
            {% else %}
            <tr><td></td></tr>
            {% endif %}
            {% endfor %}

            <tr>
                <th>Total</th>
                <th>£{{ total_assets }}</th>
                <th></th>
            </tr>
            </tbody>
        </table>
    <a href="{{ url_for('assets') }}">Can't see any assets? Add some over on the assets page!</a>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
    <h4>Investment Breakdown</h4>       
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Institution</th>
            <th>Amount</th>
            <th>Growth (%)</th>
        </tr>
        </thead>
        <tbody>
        {% for investment in form_2 %}
        {% if investment %}
        <tr>
            <td> <a href="{{ url_for('delete_investment', investment_id=investment.id) }}">{{ investment.institution }}</td>
            <td>£{{ investment.amount }}</td>
            <td>{{ investment.growth }}</td>
        </tr>
        {% else %}
        <tr><td></td></tr>
        {% endif %}
        {% endfor %}
        <tr>
            <th>Total</th>
            <th>£{{ total_investments }}</th>
            <th></th>
        </tr>
        </tbody>
    </table>
    <a href="{{ url_for('investments') }}">Can't see any investments? Add some over on the investments page!</a>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
    <h4>Debt Breakdown</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Interest (%)</th>
            </tr>
            </thead>
            <tbody>
                {% for debt in form_3 %}
                {% if debt %}
                <tr>
                    <td> <a href="{{ url_for('delete_debt', debt_id=debt.id) }}">{{ debt.debt_type }}</td>
                    <td>£{{ debt.amount }}</td>
                    <td>{{ debt.interest }}</td>
                </tr>
                {% else %}
                <tr><td></td></tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <th>Total</th>
                    <th>£{{ total_debts }}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    <a href="{{ url_for('debts') }}">Forgot to add some debts! Add them over on the debts page!</a>
</div>
{% endblock content %}