{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <h2>List of all your accounts here!</h2><br>
    <form>
        <div class="form-group">
            <div class="col-xs-4">
            <label for="inputdefault">Bank</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
        <div>
            <div class="col-xs-3">
            <label for="inputdefault">Amount (£)</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
        <div>
            <div class="col-xs-3">
            <label for="inputdefault">Interest (%)</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
    </form>
    <form>
        <div class="form-group">
            <div class="col-xs-4">
            <label for="inputdefault">Bank</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
        <div>
            <div class="col-xs-3">
            <label for="inputdefault">Amount (£)</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
        <div>
            <div class="col-xs-3">
            <label for="inputdefault">Interest (%)</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
    </form>
    <form>
        <div class="form-group">
            <div class="col-xs-4">
            <label for="inputdefault">Bank</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
        <div>
            <div class="col-xs-3">
            <label for="inputdefault">Amount (£)</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
        <div>
            <div class="col-xs-3">
            <label for="inputdefault">Interest (%)</label>
            <input class="form-control" id="inputdefault" type="text">
            </div>
        </div>
    </form>
</div>
{% endblock content %}