{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Welcome to Personal Finance!</h2>
        <hr>
        <h3>Please use the tabs at the top of the page to navigate around the website.</h3>
        <hr>
        <h4>You can add cash assets using the assets page, investments on the investments page 
            and any debts you have on the debts page.
            <br>
            <br>
            Going to My Account will show you your net worth, which takes into account assets, investments
            and debts you have. There is also a breakdown of the assets and debts you possess.
        </h4>
{% endblock content %}