{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Net Worth</h2>
        <h3>All assets, investments and debts!</h3>
        <h4>Assets: </h4>
        <h4>Investments: </h4>
        <h4>Debts </h4>
        <h4>Net Worth: </h4>
    <br>
    <h2>Asset Breakdown</h2>
        <h3>All and any positive assets held by yourself!</h3>
        <p>Total cash and investments:</p>            
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Institution</th>
                <th>Amount</th>
                <th>Interest</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type='text'></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type='text'></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type='text'></td>
            </tr>
            </tbody>
        </table>
    <a href="{{ url_for('assets') }}">Can't see any assets? Add some over on the assets page!</a>
    <br>
    <br>
    <h2>Debt Breakdown</h2>
        <h3>All and any debts held by yourself!</h3>
        <p>Total debts:</p>            
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Interest</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type='text'></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type='text'></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type='text'></td>
            </tr>
            </tbody>
        </table>
    <a href="{{ url_for('assets') }}">Forgot to add some debts! Add them over on the debts page!</a>
    <br>
    <br>
</div>
{% endblock content %}